{{#each carts}}
    <form action="/carts/remove-product/{{_id}}" method="POST">

      <ul>
        {{#each products}}
          <li>
            {{#if this.thumbnail}}
              <img src="{{this.thumbnail}}" alt="imagen">
            {{else}}
              <p>Imagen no disponible</p>
            {{/if}}
            <h5>Id del Producto: {{_id}}</h5>
            <p>Cantidad: {{this.qty}}</p>
            <h5>ARG ${{this.price}}</h5>
            <p>{{this.description}}</p>
            <p>{{this.code}}</p>
            <p>{{this.stock}}</p>
            <button type="submit">Eliminar producto del carrito</button>
          </li>
        {{/each}}
      </ul>
    </form>
{{/each}}

